<head>
    <title>Ajout d'une Fiche</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../statics/addPnj.js?12">
    </script>
    <script src="../statics/chosen.js">
    </script>
    <link href="../statics/pnjtree.css" rel="stylesheet">
    <link href="../statics/chosen.css" rel="stylesheet">
    <link href="../statics/header.css" rel="stylesheet">
    <script src="../statics/header.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
    
  {% include 'header.html' %}
      <a href='/pnjdetail/{{parentid}}' class='parent Btn'>
    <i class='fa fa-undo spin'></i>
    Retour au parent
</a>
    <fieldset class="pnjform">
        <legend class="scheduler-border">Nouveau PNJ</legend>
        <div id="message" class="alert alert-danger"></div>
        <form class="form-horizontal" role="form">
            <!-- Label -->
            <div class="form-group">
                <label for="label" class="col-sm-2 control-label">Nom</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
            </div>

            <div class="form-group">
                <label for="photoUrl" class="col-sm-2 control-label">Url de la photo</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="photoUrl" placeholder="Photo Url">
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-4">
                    <textarea type="multiline-text" class="form-control" id="description" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="time" class="col-sm-2 control-label">Parent</label>
                <div class="chosen-container chosen-container-single">
                  <select class="chosen-search-input" autocomplete="off" id="parentID"  placeholder='Choisir un parent'>
                        <option value=""></option>
                        {% for parent in parentsList %}
                        <option value="{{parent.id}}">{{parent.name.decode('utf-8') }}</option>
                        {% endfor %}
                    </select>
                    <div><b></b></div>
                </div>
            </div>
        </form>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-1">
                <button onclick="goAddPnj({{parentid}})" class="Btn contact">Save</button>
            </div>
        </div>
    </fieldset >
</div>
<script type="text/javascript">
 $(function() {
     $(".chosen-search-input").chosen();

     $(".chosen-search-input").val({{parentid}}).trigger('chosen:updated');
 });
</script>
