<head>
    <title>Ajout d'une relation avec {{pnj.name.decode('utf-8')}}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../statics/addPnj.js">
    </script>
    <script src="../statics/chosen.js">
    </script>
    <link href="../statics/pnjtree.css" rel="stylesheet">
    <link href="../statics/chosen.css" rel="stylesheet">
    <link href="../statics/header.css" rel="stylesheet">
    <script src="../statics/header.js"></script>
    <script src="../statics/addRelation.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div>
    
    {% include 'header.html' %}
    <a href='/pnjdetail/{{pnj.id}}' class='parent Btn'>
        <i class='fa fa-undo spin'></i>
        Retour à la fiche
    </a>
    <fieldset class="pnjform">
        <legend class="scheduler-border">Nouvelle Relation avec la fiche "{{pnj.name.decode('utf-8')}}"</legend>
        <div id="message" class="alert alert-danger"></div>
        <form class="form-horizontal" role="form">
            <!-- Label -->
            <div class="form-group">
                <label for="label" class="col-sm-2 control-label">Type de relation</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="time" class="col-sm-2 control-label">Fiche à lier</label>
                <div class="chosen-container chosen-container-single">
                    <select class="chosen-search-input" autocomplete="off" id="pnj2"  placeholder='Choisir une fiche à lier'>
                        <option value=""></option>
                        {% for parent in parentsList %}
                        <option value="{{parent.id}}">{{parent.name.decode('utf-8') }}</option>
                        {% endfor %}
                    </select>
                    <div><b></b></div>
                </div>
            </div>
        </form>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-1">
                <button onclick="goAddRelation({{pnj.id}})" class="Btn contact">Save</button>
            </div>
        </div>
    </fieldset >
</div>
<script type="text/javascript">
 $(function() {
     $(".chosen-search-input").chosen();
 });
</script>
