<head>
    <title>Edition de la fiche</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../statics/updatePnj.js">
    </script>
    <script src="../statics/chosen.js">
    </script>
    <link href="../statics/pnjtree.css" rel="stylesheet">
    <link href="../statics/chosen.css" rel="stylesheet">
    <link href="../statics/header.css" rel="stylesheet">
    <script src="../statics/header.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    {% include 'header.html' %}
    <a href='/pnjdetail/{{pnj.id}}' class='parent Btn'>
    <i class='fa fa-undo spin'></i>
    Retour à la fiche
</a>
<div>
    <fieldset class="pnjform">
        <legend class="scheduler-border">Edition de la fiche</legend>
        <div id="message" class="alert alert-danger"></div>
        <form class="form-horizontal" role="form">
            <!-- Label -->
            <div class="form-group">
                <label for="label" class="col-sm-2 control-label">Nom</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="name" placeholder="Name"
                           {% if pnj.description != None %}
                           value="{{pnj.name.decode('utf-8')}}"
                           {% endif %}
                    >
                </div>
            </div>

            <div class="form-group">
                <label for="photoUrl" class="col-sm-2 control-label">Url de la photo</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="photoUrl" placeholder="Photo Url"
                           {% if pnj.photourl != None %}
                           value="{{pnj.photourl.decode('utf-8')}}
">
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-4">
                    <textarea type="multiline-text" class="form-control" id="description" placeholder="Description">{% if pnj.description != None %}{{pnj.description.decode('utf-8')}}{% endif %}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="time" class="col-sm-2 control-label">Parent</label>
                <div class="chosen-container chosen-container-single">
                    <select class="chosen-search-input" autocomplete="off" id="parentID"  placeholder='Choisir un parent'>
                        <option value=""></option>
                        {% for parent in parentsList %}
                        <option value="{{parent.id}}">{{parent.name.decode('utf-8') }}</option>
                        {% endfor %}
                    </select>
                    <div><b></b></div>
                </div>
            </div>
        </form>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-1">
                <button onclick="goUpdatePnj()" class="Btn contact">Save</button>
            </div>
            <a href='/deletePnj/{{pnj.id}}' class='Btn delete'>
                <i class='fa fa-trash spin'></i>
                Supprimer la fiche
            </a>
        </div>
    </fieldset >
</div>
<script type="text/javascript">
 $(function() {
     $(".chosen-search-input").chosen();

     $(".chosen-search-input").val({{pnj.parentid}}).trigger('chosen:updated');

 });
</script>
</body>
