<head>
    <title>Graph des Pnjs</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href="../statics/pnjtree.css" rel="stylesheet">
    <link href="../statics/header.css" rel="stylesheet">
    <script src="../statics/header.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    {% include 'header.html' %}
    <div class="card">
    <!DOCTYPE html>
    <meta charset="utf-8">
    <style>

     .node {
         cursor: pointer;
     }

     .node:hover {
         stroke: #000;
         stroke-width: 1.5px;
     }

     .node--leaf {
         fill: white;
     }

     .label {
         font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
         text-anchor: middle;
         text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
     }

     .label,
     .node--root,
     .node--leaf {
         pointer-events: none;
     }

    </style>
    <svg width="960" height="960"></svg>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>

     var svg = d3.select("svg"),
         margin = 20,
         diameter = +svg.attr("width"),
         g = svg.append("g").attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

     var color = d3.scaleLinear()
                   .domain([-1, 5])
                   .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
                   .interpolate(d3.interpolateHcl);

     var pack = d3.pack()
                  .size([diameter - margin, diameter - margin])
                  .padding(2);

     d3.json("/pnjson/{{ pnj.nodeid }}", function(error, root) {
         if (error) throw error;

         root = d3.hierarchy(root)
                  .sum(function(d) { return 1; })
                  .sort(function(a, b) { return b.value - a.value; });

         var focus = root,
             nodes = pack(root).descendants(),
             view;
         //         var link = "/pnjDetail/"+ function(d) { return d.data.id};

         var circle = g.selectAll("circle")
                       .data(nodes)
                       .enter().append("circle")
                       .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
                       .style("fill", function(d) { return d.children ? color(d.depth) : null; })
                       .on("click",
                           function(d) {
                               if (focus !== d){
                                   zoom(d);
                               } else {
                                   window.open("/pnjdetail/"+ d.data.id);
                               }
                               d3.event.stopPropagation();
                           });
         
         var text = g.selectAll("text")
                     .data(nodes)
                     .enter();
         text.append("text")
             .attr("class", "label")
             .attr("dy", "0em")
             .style("font-size", "13px")
             .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
             .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
             .text(function(d) { return d.data.name; })
         text.append("text")
             .attr("class", "label")
             .attr("dy", "1em")
             .style("font-size", "7px")
             .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
             .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
             .text(function(d) { return d.data.description; });         
         var node = g.selectAll("circle,text");

         svg
             .style("background", color(-1))
             .on("click", function() { zoom(root); });

         zoomTo([root.x, root.y, root.r * 2 + margin]);

         function zoom(d) {
             var focus0 = focus; focus = d;

             var transition = d3.transition()
                                .duration(d3.event.altKey ? 7500 : 750)
                                .tween("zoom", function(d) {
                                    var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
                                    return function(t) { zoomTo(i(t)); };
                                });

             transition.selectAll("text")
                       .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
                       .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
                       .on("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
                       .on("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
         }

         function zoomTo(v) {
             var k = diameter / v[2]; view = v;
             node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
             circle.attr("r", function(d) { return d.r * k; });
         }
     });

    </script>
    </div>
</body>
