<div>
    <div class="navbar">
        <i class="menu fa fanav fa-bars"  onclick="toggleMenu()"  ></i>
        <i class="settings fa fanav fa-search"  onclick="toggleResearch()" ></i> 
    </div>
    <nav role='navigation'>
        <ul>
            <li><a href="/">Liste des Jdrs</a></li>
           {% if pnj %} <li><a href="/listPnj/{{pnj.nodeid}}">Liste des Pnjs</a></li>
            <!-- <li><a href="/graphPnj/{{pnj.nodeid}}">Graph des Pnjs</a></li> -->
            <li><a href="/org/{{pnj.nodeid}}">Organigramme des Pnjs</a></li>{% endif %}
        </ul>
    </nav>
    <div class="search">
        <h1>Search:</h1><input type="search" />
    </div>
</div>
