<ul>
    {% for relation in relations %}

    <li class='card'>
        <span class='relation'>
            <i class='fa fa-link spin'></i>Relation : {{relation.relation.decode('utf-8')}}</span>


        <div class="image-cropper">
            {% if relation.photourl != None and relation.photourl != '' %}
            <img alt='image' class='userImage' src='{{pnj.photourl}}'>
            {% endif %}
        </div>
        <h4 class='playerName'>{{relation.name.decode('utf-8')}}</h4>
        <div class='states description'>
            <span >{{relation.description.decode('utf-8')}}
            </span>
        </div>
        <a href='/pnjdetail/{{relation.id}}' class='contact Btn'>
            <i class='fa fa-info-circle spin'></i>
            Détail de la fiche
        </a>
        <a href='/editrelation/{{relation.id}}' class='link Btn'>
            <i class='fa fa-edit spin'></i>
            Éditer la relation
        </a>
        <a href='/deleterelation/{{pnj.id}}/{{relation.relationid}}' class='Btn delete' data-confirm="Are you sure to delete this item?")>
            <i class='fa fa-trash spin'></i>
            Supprimer la relation
        </a>
    </li>

    {% endfor %}
</ul>

