<ul>
    {% for pnj in pnjs %}

    <li class='card'>
        <div class="image-cropper">
            {% if pnj.photourl != None and pnj.photourl != '' %}
            <img alt='image' class='userImage' src='{{pnj.photourl}}'>
            {% endif %}
        </div>
        <h4 class='playerName'>{{pnj.name.decode('utf-8')}}</h4>
        <div class='states description'>
            <span >{{pnj.description.decode('utf-8')}}
            </span>
        </div>
        <a href='/pnjdetail/{{pnj.id}}' class='contact Btn'>
            <i class='fa fa-info-circle spin'></i>
            Détail
        </a>
    </li>

    {% endfor %}
</ul>

