<head>
    <title>Détail de la fiche</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href="../statics/pnjtree.css" rel="stylesheet">
    <link href="../statics/header.css" rel="stylesheet">
    <script src="../statics/header.js"></script>
    <script src="../statics/delete.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    {% include 'header.html' %}
    
    {% if pnj.parentid != None %}
    <a href='/pnjdetail/{{pnj.parentid}}' class='parent Btn'>
        <i class='fa fa-undo spin'></i>
        Retour à la fiche parent
    </a>
    
    {% else %}
    <a href='/' class='parent Btn'>
        <i class='fa fa-undo spin'></i>
        Retour à la liste des Jdr
    </a>
    {% endif %}
    <div class="corps" class="divider">
        
        <div class='card'>
            <div class="image-cropper">
                {% if pnj.photourl != None  and pnj.photourl != '' %}
                <img alt='image' class='userImage' src='{{pnj.photourl}}'>
                {% endif %}
            </div>
            <h4 class='playerName'>{{pnj.name.decode('utf-8')}}</h4>
            <div class='states'>
                <span>{{pnj.description.decode('utf-8')}}
                </span>
            </div>
            <a href='/editPnj/{{pnj.id}}' class='Btn contact' >
                <i class='fa fa-edit spin'></i>
                Éditer la fiche
            </a>
            <a href='/addPnj/{{pnj.id}}' class='Btn link'>
                <i class='fa fa-link spin'></i>
                Ajouter une fiche
            </a>
            <a href='/addrelation/{{pnj.id}}' class='Btn link'>
                <i class='fa fa-link spin'></i>
                Ajouter une relation
            </a>
            {% if pnj.childrensid == None %}
            
            {% endif %}
        </div>
        
        {% if pnjs|length>0 %}
        <div class="childrens">
            <h2>Fiche{% if pnjs|length>1 %}s{% endif %} dépendant de celle-ci</h2>
            {% include 'listdespnj.html' %}
        </div>
        {% endif %}

        {% if relations|length>0 %}
        <div class="childrens">
            <h2>Relation{% if relations|length>1 %}s{% endif %}</h2>
            {% include 'listdesrelations.html' %}
        </div>
        {% endif %}
</body>
