* {
  transition: all 0.2s ease-in-out;
  font-family: Arial;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

ul, li {
  padding: 0;
  margin: 0 auto;
}

.fanav {
  display: inline-block;
  margin: 16px;
  margin-top: 10px;
  font-size: 24px; 
  text-align: center;
  color: #fff;
  font-size: 3em;
  cursor: pointer;
}
.fa:hover {
  color: #e1e1e1;
}

.navbar {
  background: #09c;
  width: 100%;
  font-size: 40px; 
  height: 75px;
  z-index: 99999;
  box-shadow: 0 0 10px #000;
}

.menu {
  position: absolute;
  left: 0;
}

.settings {
  position: absolute;
  right: 0;
}

nav {
  position: absolute;
  background: #007399;
  width: 100%;
  left: 0;
  top: -100%;
  z-index: 999;
  transition-timing: 1s;
  box-shadow: 0 0 10px #000;
}
nav li {
  list-style: none;
  text-align: center;
}
nav li a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 24pt;
}
nav li a:hover {
  background: #0086b3;
  text-decoration: underline;
}

.search {
  position: absolute;
  background: #007399;
  width: 100%;
  left: 0;
  top: -100%;
  z-index: 999;
  transition-timing: 1s;
  box-shadow: 0 0 10px #000;
  padding: 15px;
  line-height: 75px;
}
.search h1 {
  float: left;
  margin: 0;
  color: #fff;
  padding-right: 25px;
  font-weight: normal;
}
.search input[type='search'] {
  padding: 10px;
  width: 250px;
}

.down {
  top: 74px;
}
