body {
  background-color: #3498db;
  font-family: 'Source Sans Pro', sans-serif;
}


.card {
  background: #fff;
  width: 300px;
  margin: 2em auto;
  padding-bottom: 1em;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.24);
  display:inline-table;
  height:250px;
}

.pnjform {
  background: #fff;
  width: 300px;
  margin: 2em auto;
  padding-bottom: 1em;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.24);
}

.image-cropper {
    width: 100px;
    height: 100px;
    margin: 1em auto;

}
img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.userImage {
  position: relative;
  top: 1em;
  display: block;
  text-align: center;
  margin: 1em auto;
  width: 100px;
  height: 100px;
      -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.badge {
  background: #2ecc71;
  color: #fff;
  margin: auto;
  padding: 5px 4px;
  position: relative;
  top: -20px;
  left: 56%;
  font-size: 18px;
  border-radius: 100px;
}

.playerName {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: #555;
  font-weight: bolder;
}

.states {
  width: 85%;
  margin: 1em auto;
  font-weight: 300;
}

ul {
  padding-bottom: 1em;
  list-style: none;
}

ul li {
  color: #999;
  margin-bottom: 8px;
  padding: 1px 0px 8px 0px;
  border-bottom: 1px solid #f1f1f1;
}

.values li:hover {
  color: #555;
  cursor: pointer;
  text-decoration: underline;
}
.info {
  position: relative;
  float: left;
  margin-left: 0;
  text-align: left;
}

.values {
  position: relative;
  text-align: right;
}

.Btn {
  position: relative;
  display: block;
  text-align: center;
  margin: auto;
  padding: .5em;
  min-width: 100px;
  border-radius: 25px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  color: #fff;
  display:inline-block;
  margin: 2px;
  padding: 5px;
  min-width:200px;
}

.link {
  background: #30a6ea;
}

.link:hover {
  background: #2b95d3;
}

.contact {
  background: #2ecc71;
}

.contact:hover {
  background: #27ae60;
}

.delete {
  background: #e44d5c;
}

.delete:hover {
  background: #ae3642
}

.description {
    overflow:hidden;
    height:40px;
}

.corps {
    text-align: center;
}

.scheduler-border {
 text-align: center;
  margin: auto;
  padding: .5em;
  min-width: 100px;
  border-radius: 25px;
  border-color:black;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: #3498db;
}

.relation {

}

